/* место для вашего кода */

/* Рекомендуемые имена классов

    header — вся шапка;
    header__menu — контейнер навигации;
    header__links-list — список ссылок;
    header__links-list-item — пункт списка ссылок;
    header__links-list-item_no-bullit — вам может потребоваться этот класс, чтобы сделать ссылку без кружочка перед ней;
    header__link — ссылка;
    header__link_active — активная ссылка;
    header__logo — контейнер логотипа;
    header__logo-image — картинка с логотипом;
    address — контейнер с адресом;
    header__address — потребуется, чтобы выравнивать блок с адресом. В футере используется другое выравнивание. */

.page {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 90px 50px 96px;
}

.header__menu {
  align-self: center;
  justify-self: start;
}

.header__links-list {
  display: flex;
  list-style: circle;
  column-gap: 33px;
}

.header__links-list-item {
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item::marker {}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 2px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  width: 148px;
  align-self: stretch;
}

.header__logo-image {
  height: 100%;
}

.address {
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.3px;
  /* 135% */
}

.header__address {
  align-self: center;
  justify-self: end;
}