/* место для вашего кода */

/* Рекомендуемые имена классов

    header — вся шапка;
    header__menu — контейнер навигации;
    header__links-list — список ссылок;
    header__links-list-item — пункт списка ссылок;
    header__links-list-item_no-bullit — вам может потребоваться этот класс, чтобы сделать ссылку без кружочка перед ней;
    header__link — ссылка;
    header__link_active — активная ссылка;
    header__logo — контейнер логотипа;
    header__logo-image — картинка с логотипом;
    address — контейнер с адресом;
    header__address — потребуется, чтобы выравнивать блок с адресом. В футере используется другое выравнивание. */

.page {
  max-width: 1440px;
  margin: auto;
}

.header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 90px 50px 90px;
}

.header__menu {
  justify-self: start;
  align-self: center;
}

.header__links-list {
  display: flex;
  column-gap: 33px;
  list-style: circle;
}

.header__links-list-item {
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

/* .header__links-list-item::marker {} */

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  align-self: stretch;
  width: 148px;
}

.header__logo-image {
  height: 100%;
}

.address {
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  /* 135% */
}

.header__address {
  justify-self: end;
  align-self: center;
}

/* Рекомендуемые имена классов

    cover — вся секция;
    overlay — полупрозрачный блок поверх секции;
    cover__title — заголовок;
    aligned-text, aligned-text_center и aligned-text_right — классы для выравнивания строк текста и превращения их в блочный элемент;
    letter-spacing-extended — класс для управления межбуквенным расстоянием в местах, где есть эти акценты;
    no-letter-spacing — класс для обнуления общего межбуквенного расстояния для последней буквы;
    cover__description — контейнер для подзаголовка и кнопки;
    cover__description-text — текст подзаголовка;
    bet-button — кнопка «Сделать ставку». */

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0.6;
  background: #000;
}

.cover {
  position: relative;
  padding: 160px 50px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 2;
  margin-bottom: 120px;
  color: #FFF;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 125%;
  /* 115px */
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: end;
  column-gap: 78px;
}

.cover__description-text {
  z-index: 2;
  align-self: center;
  color: #FFF;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-align: center;
  /* 127.273% */
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  z-index: 2;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #FFF;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}

.bet-button:hover {
  opacity: .8;
  cursor: pointer;
}

/*
Рекомендуемые имена классов

    lots — вся секция;
    lots__heading — заголовок секции;
    lots__card-list — список карточек;
    lots__card-list-item — пункт списка карточки;
    card-link — ссылка, обрамляющая карточку;
    card — карточка;
    card_type_film, card_type_book и card_type_picture — классы, чтобы задать определённый фон каждой из карточек;
    overlay — он уже есть у вас в коде;
    card__title — заголовок карточки;
    card__text — текст карточки;
    lots__look-more-link — ссылка «Посмотреть больше».*/

.lots {
  padding: 180px 50px 0;
}

.lots__heading {
  margin: 0 0 27px 40px;
  margin-bottom: 27px;
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;

}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  column-gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex-basis: 430px;
  min-height: 450px;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  border-bottom: 1px solid #000;
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
  text-decoration: none;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  height: 100%;
  padding: 50px 40px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 2;
  color: #FFF;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  font-style: normal;
  line-height: 120%;
  /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  /* 24px */
  z-index: 2;
  color: #FFF;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
}

/*
Рекомендуемые имена классов

    about — вся секция;
    about__column — класс для колонок;
    about__logo — контейнер с логотипом;
    about__logo-image — изображение логотипа;
    about__title — заголовок секции;
    about__text — блок для текстов секции.

Другие классы мы не использовали, но вам они могут понадобиться. У задачи несколько решений. Это нормально в гибком мире лэйаутов.
*/

.about {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-template-rows: minmax(240px, min-content) 1fr;
  column-gap: 25px;
  padding: 181px 50px 100px;
}

.about__column {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  row-gap: 25px;
}

.about__logo {
  justify-self: center;
  align-self: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  padding: 63px 46px;
  background-color: #000;

}

.about__logo-image {
  width: 100%;
}

.about__title {
  align-self: center;
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

/*
Рекомендуемые имена классов

    footer — подвал;
    address — такой класс уже есть в вашей вёрстке, все вложенные элементы аналогичны;
    footer__menu — блок навигации по списку ссылок. Мы рекомендуем окружать список тегом <nav> с этим классом;
    footer__menu-list — список пунктов меню;
    footer__menu-list-item — пункт списка меню;
    footer__menu-link — ссылка меню;
    footer__menu-link_active — активная ссылка меню (без подчеркивания);
    footer__social-list — список ссылок на социальные сети. Можно не добавлять тег <nav>, потому что это ссылки на внешние ресурсы;
    footer__social-list-item — пункт списка ссылок на социальные сети;
    footer__social-link — ссылка на социальные сети;
    footer__social-icon – иконка социальной сети.
*/

.footer {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  padding: 80px 50px 90px;
}

/* .footer__menu {} */

.footer__menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer__menu-list-item {
  text-align: center;
}

.footer__menu-link {
  border-bottom: 1px solid #000;
  color: #000;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  column-gap: 48px;
  list-style: none;
}

.footer__social-list-item {
  flex-basis: 48px;
}

/* .footer__social-link {}

.footer__social-icon {} */